
* text=auto


*.r text
*.rmd text
*.html text
*.csv text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary


*.r linguist-language=R
*.rmd linguist-language=R
*.html linguist-detectable=false
